<h1><%= @title %></h1>
<% @users.each do |user| %>
    <section class="user_info">
      <%= gravatar_for user %>
      <%= user.name %> <br>
    </section>
    <br>
  <!--<%= user.name %><br>-->
  <!--<%= gravatar_for @user %><cr>-->
      <!--<section class="user_info">-->
      <!--  <%= render 'shared/user_info' %>-->
      <!--</section>-->
<% end %>